{% extends "base.html" %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for train in trains %}
            <tr>
                {% for column in train %}
                    <td>{{ column|default('', true) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
